

.wizard-container {
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content:center;
}

.wizard-page {
  width: 60vw;
  height: 100vh;
  background-color: #E2F0EA;
}

.wizard-cancel-btn {
  width: 150px;
  height: 40px;
  background-color: Red;
  display:flex;
  align-items: center;
  justify-content: center;
  float:right;
}

.wizard-submit-btn {
  width: 150px;
  height: 40px;
  background-color: Green;
  display:flex;
  align-items: center;
  justify-content: center;
  float:right;
}

.next-btn {
  width: 150px;
  height: 50px;
  background-color: blue;
}

.last-btn {
  width: 150px;
  height: 50px;
  background-color: yellow;
}

