/* .wizard-container {
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content:center;
}

.wizard-page {
  width: 60vw;
  height: 100vh;
  background-color: #E2F0EA;
}

.wizard-cancel-btn {
  width: 150px;
  height: 40px;
  background-color: Red;
  display:flex;
  align-items: center;
  justify-content: center;
  float:right;
} */


.dashboard-container {
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content:center;
}

.dashboard-page {
  width: 60vw;
  height: 100vh;
  background-color: #E2F0EA;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.dashboard-add-property-btn {
  width: 150px;
  height: 40px;
  background-color: greenyellow;
  display:flex;
  align-items: center;
  justify-content: center;
  float:right;
}

