.property-container {
  width: 400px;
  height: 150px;
  background-color:gray;
  margin: 10px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  padding:30px;  
}


.house-delete {
  background-color:red;
  padding: 2px;
}